{% extends "layout.html" %}
{% set PAGE_TITLE = TAG_PAGE_TITLE if TAG_PAGE_TITLE else "template list " %}
{% from '_helpers.html' import render_pagination %}
{% block body %}

<div class="row">
  {% for item in pagination.items %}
	<div class="template span4 boxgrid caption">
        <p>
			<a href="{{url_for('template.show', id=item.id)}}"><img class="thumbnail" src="{{url_for('static', filename=get_main_thumbnail_filename(item.id)) }}" /></a>
		</p>
		<div class="cover boxcaption">
          <h3>{{ item.subject }}</h3>
		  <p>
			<a href="{{url_for('template.show', id=item.id)}}">details &raquo;</a>
			<a href="{{ get_demo_url(item.id, item.index_filename) }}">demo &raquo;</a>
			<a href="{{ get_archive_url(item.id, item.filename) }}">download &raquo;</a>
		  </p>
		</div>
	</div>
  {% endfor %}
</div>

<div class="pagination">
  {{ render_pagination(pagination) }}
</div>


{% endblock %}
