{% extends "layout.html" %}
{% set PAGE_TITLE = item.subject %}
{% set is_active_home = True %}
{% block breadcrumb %}
<div>
	<ul class="breadcrumb">
	  <li><a href="{{url_for('index')}}">Home</a> <span class="divider">/</span></li>
	  {% block breadcrumb_item %}{% endblock %}
	  <li class="active">{{BREADCRUMB_HERE}}</li>
	</ul>
</div>
{% endblock %}
{% set BREADCRUMB_HERE = item.subject %}
{% from '_helpers.html' import render_pagination %}
{% block body %}

    <div class="templates_container">
      <div class="row templates">	
        <div class="template span10">
            <p class="media-grid">
              <a href="{{ get_demo_url(item.id, item.index_filename) }}" target="_blank"><img class="thumbnail" src="{{url_for('static', filename=get_big_thumbnail_filename(item.id)) }}" width="550" height="315"/></a>
            </p>
        </div>
      </div>
	  <div>
		
	    <p>{{ item.description }}</p>
	    <p>filename: {{ item.filename}}</p>
	    <p>index: {{ item.index_filename}}</p>
	    <p>creation date:{{ item.create_date| format_datetime}}</p>
	    <p>modified date:{{ item.modified_date| format_datetime}}</p>
		<p>tags: {% for tag in item.tags %}{{ tag.name }}{{ ', ' if not loop.last }}{% endfor %}</p>
	    <div>
			<a class="btn" href="{{ get_demo_url(item.id, item.index_filename) }}">DEMO</a>
			<a class="btn" href="{{ get_archive_url(item.id, item.filename) }}">DOWNLOAD</a>
			{% if session.user_id and g.user.role.rolename=="admin" %}
			<a class="btn primary" href="{{ url_for('template.edit', id=item.id) }}">EDIT</a>
			<form  style="display: inline-block;"action="{{ url_for('template.delete', id=item.id) }}" method="POST" onsubmit='if(!confirm("本当に削除してもよろしいですか？")) return false;'>
	          <input class="btn danger" type="submit" value="delete" name="delete" />
			</from>
			{% endif %}
		</div>
	    <h4>file list</h4>
	    <div>
	      <ul>
	      {% for filepath in item.get_filelist() %}
	        <li>{{filepath}}</li>
	      {% endfor %}
	      </ul>
	    </div>
	
	  </div>
    </div>

{% endblock %}

